@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.navigation {
  display: flex;
  background-color: #1a73e8;
  margin: 0;
  color: #fff;
  padding: 20px calc(50% - 480px);
  font-family: "Alata", "Roboto", sans-serif;
  justify-content: space-between;
}

.navigation__container {
  display: flex;
  padding: 10px calc(50% - 480px);
}

.navigation__link{
  color: #fff;
  text-decoration: none;
}

.navigation__paragraf {
  font-size: 30px;
  padding-top: 15px;
  padding-right: 20px;
  margin: 0;
}

.navigation__paragraf:hover {
  color: rgb(173, 200, 226);
}
/* .navigation__header {
  background-color: #1a73e8;
  margin: 0;
  color: #fff;
  padding: 20px calc(50% - 480px);
  font-family: "Alata", "Roboto", sans-serif;
} */

.app__main {
  display: flex;
  justify-content: space-between;
  padding: 20px calc(50% - 480px);
}

.app__main-two {
  display: none;
}

.app__goods {
  width: 60%;
}

.app__cart {
  width: 38%;
  padding: 25px;
  padding-top: 40px;
  background-color: #ebebeb;
  min-height: 200px;
  margin-bottom: 20px;
  margin-top: 0;
  box-sizing: border-box;
}

.goods__title {
  margin: 0 0 30px;
}

.goods__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.goods__list-item {
  margin: 0 0 20px;
  padding: 0;
}

.goods-item {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 20px;
}

.goods-item__title {
  margin: 0 0 10px;
  font-size: 24px;
}

.goods-item__price {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 300;
}

.goods-item__price-value_old {
  text-decoration: line-through;
  margin-right: 10px;
  color: #ababab;
}

.goods-item__price-value_new {
  color: darkgreen;
}

.goods-item__description {
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 1.5;
}

.goods-item__add-to-card {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 15px;
  color: #5b5b5b;
  margin-top: 20px;
}

.goods-item__add-to-card:hover {
  color: #1a73e8;
  border-color: #1a73e8;
  transition: all 0.1s linear;
}

.goods-item__add-to-card:active {
  background-color: #1a73e8;
  color: #fff;
  transition: all 0.1s linear;
}

.cart__title {
  margin: 0 0 20px;
}

.cart__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart__list-item {
  margin: 0 0 10px;
  padding: 0;
}

.cart__note {
  margin: 0 0 10px;
  font-size: 12px;
}

.cart__total {
  border-top: 2px solid #000;
  font-weight: 600;
  margin: 0;
  padding: 10px 0 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
}

.cart-alert{ 
  text-align: center;
}

.cart-alert-two {
  display: none;
}

.cart-item__title {
  margin: 0;
  width: 60%;
  font-size: 12px;
}

.cart-item__price {
  margin: 0;
  font-size: 14px;
}

.cart__button {
  font-size: 10px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  /* border-radius: 3px; */
  border-radius: 50%;
  cursor: pointer;
  padding: 5px 8px;
  margin-left: 5px;
  color: #5b5b5b;
}

.cart__button:hover {
  color: #1a73e8;
  border-color: #1a73e8;
  transition: all 0.1s linear;
}

.cart__button-order {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 15px;
  color: #5b5b5b;
  margin-top: 20px;
}

.cart__button-order-two {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 10px 15px;
  color: #cac7c7;
  margin-top: 20px;
}

.cart__button-order:hover {
  color: #1a73e8;
  border-color: #1a73e8;
  transition: all 0.1s linear;
}

.cart__button-Link {
  color: #5b5b5b;
  text-decoration: none;
}

.form_user {
 width: 60%;
  margin: auto;
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 5px;
  margin-left: 20px;
}

.input_user {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.text_aria {
  height: 100px;
  resize: none;
}

.btn_a {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  color: #cac7c7;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 10px;
}

.btn_b {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
  color: #5b5b5b;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 10px;
}

.btn_b:hover {
  color: #1a73e8;
  border-color: #1a73e8;
  transition: all 0.1s linear;
}